/node_modules
/public/hot
/public/storage
/storage
/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.local
.env.dev
.env.pro
.env_ceshi
.env_formal
gdtToken.json
public/gdtToken.json
appsflyer_appid.txt
.idea